<div fxLayout="row" fxLayoutAlign="center center" class="outer">
    <mat-card style="width: 30%; min-width: 200px">
        <mat-card-content>
            <mat-form-field>
                <input matInput type="text" placeholder="{{'email' | translate}}" #userEmail required>
            </mat-form-field><br>
            <mat-form-field>
                <input matInput type="password" placeholder="{{'password' | translate}}" #userPassword required>
            </mat-form-field><br>
            <mat-form-field>
                <input matInput type="password" placeholder="{{'passwordrep' | translate}}" #userPasswordrepeat required>
            </mat-form-field><br>
            <mat-form-field>
                <input matInput type="text" placeholder="{{'Username' | translate}}" #userUsername>
            </mat-form-field><br>
            <mat-form-field>
                <input matInput type="text" placeholder="{{'Tele' | translate}}" #userTel>
            </mat-form-field><br>
            <mat-form-field>
                <input matInput type="text" placeholder="{{'Address' | translate}}" #userAddress>
            </mat-form-field><br>
            <mat-form-field>
                <input matInput type="text" placeholder="{{'FirstName' | translate}}" #userName>
            </mat-form-field><br>
            <mat-form-field>
                <input matInput type="text" placeholder="{{'SurName' | translate}}" #userSurname>
            </mat-form-field><br>
            <button mat-raised-button class="btn" value="Sign Up" (click)="register(userEmail.value, userPassword.value, userPasswordrepeat.value, userUsername.value, userTel.value, userAddress.value, userName.value, userSurname.value)">{{"signup" | translate}}</button>
            <button mat-raised-button class="btn" [routerLink]="['/login']" routerLinkActive="router-link-active">{{"back" | translate}}</button>
        </mat-card-content>
    </mat-card>
</div>