.form-style-8{
	font-family: 'Open Sans Condensed', arial, sans;
  padding:10px;
	margin: 50px auto;
}

.btn {
  width: 100%;
  margin-top: 10px;
  background-color: #0099ff;
}

.outer {
	height: 100vh; 
	width: 100vw;
	background-image: url("../../assets/images/IMG_0382.png");
	background-size: cover;
	background-position: 50% 0;
}

.logo {
	width: 40px !important; 
	height: 40px !important;
}

mat-form-field{
	width: 100% !important;
}