.outer {
	height: 100vh; 
	width: 100vw;
	background-image: url("../../assets/images/IMG_0382.png");
	background-size: cover;
	background-position: 50% 0;
}

.logo {
	width: 40px !important; 
	height: 40px !important;
}

.formf{
	width: 100%;
}

.log{
	background-color: #0099ff;
	width: 32%;
	margin-top: 10px;
}

.error{
    background-color: red;
}