<div fxLayoutAlign="center center" class="outer">
    <mat-card style="width: 30%; min-width: 200px">
        <div>
            <mat-form-field class="formf">
                <input matInput type="text" placeholder="{{'email' | translate}}" #email>
            </mat-form-field><br>
            <div>
                <button fxFlex mat-raised-button class="log" (click)="resetPassword(email.value)" >{{"sendpassword" | translate}}</button><br>
            </div>
            <div>
                <button fxFlex mat-raised-button class="log error" [routerLink]="['/login']" routerLinkActive="router-link-active"  >{{"backtologin" | translate}}</button><br>
            </div>
        </div>
    </mat-card>
</div>