<mat-toolbar-row class="toolbar" [class.mat-elevation-z8]="true" color="accent">
    <mat-toolbar class="toolbar" color="primary">
        <span style="width: 10px;"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/form" routerLinkActive="active"><mat-icon>format_align_left</mat-icon>{{"Form" | translate}}</button>
            <button mat-menu-item routerLink="/data" routerLinkActive="active"><mat-icon>insert_chart_outlined</mat-icon>{{"Data" | translate}}</button>
            <button mat-menu-item routerLink="/help" routerLinkActive="active"><mat-icon>help_outline</mat-icon>{{"Help" | translate}}</button>
        </mat-menu>
        <span fxFlex></span>
        <img src="\assets\images\logo.png" style="width: 64px; height: 64px">
        <span fxFlex></span>
        <button mat-icon-button [matMenuTriggerFor]="menuu">
            <div *ngIf="auth.user$ | async as user;">
                <button mat-icon-button *ngIf="user.photoURL; else def">
                    <img src="{{user.photoURL}}" class="user">
                </button>
                <ng-template #def>
                    <button mat-icon-button>
                        <img src="../../../assets/images/boy.svg" class="user">
                    </button>
                </ng-template>
            </div>
        </button>
        <mat-menu #menuu="matMenu">
            <div *ngIf="auth.user$ | async as user">
                <button *ngIf="user.displayName" mat-menu-item [routerLink]="['/user']" routerLinkActive="router-link-active"><mat-icon>help_outline</mat-icon>{{"User" | translate}}</button>
            </div>
            <button mat-menu-item (click)=auth.signOut()><mat-icon>exit_to_app</mat-icon>{{"Logout" | translate}}</button>
        </mat-menu>
        <span style="width: 10px;"></span>
    </mat-toolbar>
</mat-toolbar-row>
<div>
    <img [class.mat-elevation-z4]="true" style="margin-top: 10px;" src="../../../assets/images/bg.png">
</div>
<div [class.mat-elevation-z12]="true" style="text-align: center; border-radius: 10px; vertical-align: middle;color: white; margin: 20px; background-color: black; margin: 10px;padding:50px; font-size: 3vh;">
    {{"DLS_desc" | translate}}
</div>
<div class="card">
    <article>
        <img src="../../../assets/images/setup_img.png" style="float: left; width: 200px; border-radius: 10px;">
        <div style="padding-left: 20px; width: 100%;">
            <mat-card-header>
                <mat-card-title style="padding-left: 20px;">{{"Form" | translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <span style="padding-left: 20px;">{{"FormDesc" | translate}}</span>
            </mat-card-content>
        </div>
    </article>
</div>
<div class="card">
    <article>
        <img src="../../../assets/images/data_img.png" style="float: left; width: 200px; border-radius: 10px;">
        <div style="padding-left: 20px; width: 100%;">
            <mat-card-header>
                <mat-card-title style="padding-left: 20px;">{{"Data" | translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <span style="padding-left: 20px;">{{"DataDesc" | translate}}</span>
            </mat-card-content>        
        </div>
    </article>
</div>
<div class="card">
    <article>
        <img src="../../../assets/images/quality_img.png" style="float: left; width: 200px; border-radius: 10px;">
        <div style="padding-left: 20px; width: 100%;">
            <mat-card-header>
                <mat-card-title style="padding-left: 20px;">{{"Quality" | translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <span style="padding-left: 20px;">{{"QualityDesc" | translate}}</span>
            </mat-card-content>        
        </div>
    </article>
</div>
<div style="background-color: #333333;">
    <span fxFlex></span>
    <img src="../../../assets/images/gm_logo.png" style="max-width: 200px; height: auto; margin: 10px;">
    <span fxFlex></span>
</div>