<style type="text/css"></style>
<mat-toolbar-row class="toolbar" [class.mat-elevation-z21]="true">
    <mat-toolbar class="toolbar">
        <span style="width: 10px;"></span>
        <button mat-icon-button routerLink="/app" routerLinkActive="active">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <span fxFlex></span>
        <img src="\assets\images\logo.png" class="image">
        <span fxFlex></span>
        <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" style="display: none;">
        <button mat-icon-button class="add" (click)="csvReader.click()">
                <label style="vertical-align: center">
                    <mat-icon class="icon" id="add">add</mat-icon>
                </label>
        </button>
    </mat-toolbar>
</mat-toolbar-row>
<div #mapContainer id="map"></div>
<!--<mat-card class="align-to-bottom">{{distance}}</mat-card>-->
