::ng-deep .ngx-charts { 
    text { 
        fill: #fff !important; 
    }
}

#add {
    margin-top: 7px;
}

.maxdesc {
    width: 20%; 
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
}

.numtit {
    width: 100%;   
    height: 25%;
    border-radius: 10px 10px 0px 0px;
    background-color: #0099f0;
    margin: 10px;
    margin-bottom: 0px;
    color: #fff;
}
.numb{
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    margin: 10px;
    height: 50%;
    vertical-align: middle;
    margin-top: 0px;
    font-size: 4vh;
    background-color: #fff;
    color: #333;
}
.image {
    width: 64px; 
    height: 64px;
}
.toolbar {
    padding: 0px;
}
.add {
    margin-right: 10px;
}

.card {
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    width: 96%;
    height: 20%;
}

.head {
    background-color: #0099ff;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
.num {
    color: black;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    font-size: 25px;
}

#map {
    height: 100%;
    width: 100%;
}

.align-to-bottom {
    bottom: 0;
    position: absolute;
    margin: 2px;
}