
.floating-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}


.toolbar {
    z-index: 100;
    background-color: #0099ff;
}

.form{
    display: flex; flex-direction: column; margin: 15px; margin-left: 100px; margin-right: 100px; border-bottom: 5px solid #0099ff;
}

.toolbar {
    padding: 0px;
}