<mat-toolbar-row class="toolbar" [class.mat-elevation-z8]="true">
    <mat-toolbar class="toolbar">
        <span style="width: 10px;"></span>
        <button mat-icon-button routerLink="/app" routerLinkActive="active">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <span fxFlex></span>
        <img src="\assets\images\logo.png" style="width: 64px; height: 64px">
        <span fxFlex></span>
        <span style="width: 50px;"></span>
    </mat-toolbar>
</mat-toolbar-row>
<form [formGroup]="settingsForm" (ngSubmit)="submit()">
    <div fxHide.lt-md>
        <mat-card class="form" [ngStyle.lt-sm]='{"margin.px": 10}'>
            <div>
                <mat-form-field fxFlex style="margin: 0px 10px;">
                    <input matInput formControlName="datum" type="date" placeholder="{{ 'datum' | translate }}">
                </mat-form-field>
                <mat-form-field fxFlex style="margin: 0px 10px;">
                    <input matInput formControlName="ort" type="string" placeholder="{{ 'ort' | translate }}">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field fxFlex style="margin: 0px 10px;">
                    <input matInput formControlName="wetter" type="string" placeholder="{{ 'wetter' | translate }}">
                </mat-form-field>
                <mat-form-field fxFlex style="margin: 0px 10px;">
                    <input matInput formControlName="temp" type="number" placeholder="{{ 'temp' | translate }}">
                    <span matSuffix>°C</span>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field fxFlex style="margin: 0px 10px;">
                    <input matInput formControlName="beschreibung" type="string" placeholder="{{ 'beschreibung' | translate }}">
                </mat-form-field>
                <mat-form-field fxFlex style="margin: 0px 10px;">
                    <input matInput formControlName="laufzeit" type="string" placeholder="{{ 'laufzeit' | translate }}">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field fxFlex style="margin: 0px 10px;">
                    <input matInput formControlName="platz" type="number" placeholder="{{ 'platz' | translate }}">
                </mat-form-field>
                <mat-form-field fxFlex style="margin: 0px 10px;">
                    <input matInput formControlName="reifen" type="string" placeholder="{{ 'reifen' | translate }}">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field fxFlex style="margin: 0px 10px;">
                    <input matInput formControlName="luftdruckhinten" type="number" placeholder="{{ 'luftdv' | translate }}">
                    <span matSuffix>bar</span>
                </mat-form-field>
                <mat-form-field fxFlex style="margin: 0px 10px;">
                    <input matInput formControlName="luftdruckvorne" type="number" placeholder="{{ 'luftdh' | translate }}">
                    <span matSuffix>bar</span>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field fxFlex style="margin: 0px 10px;">
                    <input matInput formControlName="daempferVorn" type="string" placeholder="{{ 'daempferv' | translate }}">
                </mat-form-field>
                <mat-form-field fxFlex style="margin: 0px 10px;">
                    <input matInput formControlName="daempferHinten" type="string" placeholder="{{ 'daempferh' | translate }}">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field fxFlex style="margin: 0px 10px;">
                    <input matInput formControlName="gewicht" type="number" placeholder="{{ 'gewicht' | translate }}">
                    <span matSuffix>kg</span>
                </mat-form-field>
                <mat-form-field fxFlex style="margin: 0px 10px;">
                    <input matInput formControlName="notizen" type="string" placeholder="{{ 'notizen' | translate }}">
                </mat-form-field>
            </div>
        </mat-card>
        <mat-card class="form" [ngStyle.lt-sm]='{"margin.px": 10}'>
            <div fxFlex fxLayout.lt-sm="column" formArrayName="custom" *ngFor="let control of pics.controls; index as i">
                <div [formGroupName]="i">
                    <mat-form-field fxFlex style="margin: 0px 10px;">
                        <input matInput placeholder="{{'name' | translate}}" type="text" formControlName="name">
                    </mat-form-field>
                    <mat-form-field fxFlex style="margin: 0px 10px;">
                        <input matInput placeholder="{{'value' | translate}}" type="text" formControlName="value">
                    </mat-form-field>
                    <button style="margin-top: 10px;" mat-mini-fab color="primary" type="button" (click)="addCustomsControl()">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button style="margin-top: 10px;" mat-mini-fab color="primary" [disabled]="custom?.value.length==1 || custom === undefined ? 'true' : 'false'" type="button" (click)="removeImageControl(i)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card>
    </div>
    <div fxHide.gt-sm>
        <mat-card class="form" [ngStyle.lt-md]='{"margin.px": 10}'>
            <mat-form-field fxFlex style="margin: 0px 10px;">
                <input matInput formControlName="datum" type="date" placeholder="{{ 'datum' | translate }}">
            </mat-form-field>
            <mat-form-field fxFlex style="margin: 0px 10px;">
                <input matInput formControlName="ort" type="string" placeholder="{{ 'ort' | translate }}">
            </mat-form-field>
            <mat-form-field fxFlex style="margin: 0px 10px;">
                <input matInput formControlName="wetter" type="string" placeholder="{{ 'wetter' | translate }}">
            </mat-form-field>
            <mat-form-field fxFlex style="margin: 0px 10px;">
                <input matInput formControlName="temp" type="number" placeholder="{{ 'temp' | translate }}">
                <span matSuffix>°C</span>
            </mat-form-field>
            <mat-form-field style="margin: 10px;">
                <input matInput formControlName="beschreibung" type="string" placeholder="{{ 'beschreibung' | translate }}">
            </mat-form-field>
            <mat-form-field fxFlex style="margin: 0px 10px;">
                <input matInput formControlName="laufzeit" type="string" placeholder="{{ 'laufzeit' | translate }}">
            </mat-form-field>
            <mat-form-field fxFlex style="margin: 0px 10px;">
                <input matInput formControlName="platz" type="number" placeholder="{{ 'platz' | translate }}">
            </mat-form-field>
            <mat-form-field fxFlex style="margin: 0px 10px;">
                <input matInput formControlName="reifen" type="string" placeholder="{{ 'reifen' | translate }}">
            </mat-form-field>
            <mat-form-field fxFlex style="margin: 0px 10px;">
                <input matInput formControlName="luftdruckhinten" type="number" placeholder="{{ 'luftdv' | translate }}">
                <span matSuffix>bar</span>
            </mat-form-field>
            <mat-form-field fxFlex style="margin: 0px 10px;">
                <input matInput formControlName="luftdruckvorne" type="number" placeholder="{{ 'luftdh' | translate }}">
                <span matSuffix>bar</span>
            </mat-form-field>
            <mat-form-field fxFlex style="margin: 0px 10px;">
                <input matInput formControlName="daempferVorn" type="string" placeholder="{{ 'daempferv' | translate }}">
            </mat-form-field>
            <mat-form-field fxFlex style="margin: 0px 10px;">
                <input matInput formControlName="daempferHinten" type="string" placeholder="{{ 'daempferh' | translate }}">
            </mat-form-field>
            <mat-form-field fxFlex style="margin: 0px 10px;">
                <input matInput formControlName="gewicht" type="number" placeholder="{{ 'gewicht' | translate }}">
                <span matSuffix>kg</span>
            </mat-form-field>
            <mat-form-field style="margin: 10px;">
                <input matInput formControlName="notizen" type="string" placeholder="{{ 'notizen' | translate }}">
            </mat-form-field>
        </mat-card>
        <mat-card class="form" [ngStyle.lt-md]='{"margin.px": 10}'>
            <div fxFlex fxLayout.lt-sm="column" formArrayName="custom" *ngFor="let control of pics.controls; index as i">
                <div [formGroupName]="i">
                    <div>
                        <mat-form-field fxFlex style="margin: 0px 10px;">
                            <input matInput placeholder="{{'name' | translate}}" type="text" formControlName="name">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field fxFlex style="margin: 0px 10px;">
                            <input matInput placeholder="{{'value' | translate}}" type="text" formControlName="value">
                        </mat-form-field>
                    </div>
                    <div>
                        <button style="margin-top: 10px;" mat-mini-fab color="primary" type="button" (click)="addCustomsControl()">
                            <mat-icon>add</mat-icon>
                        </button>
                        <span fxFlex></span>
                        <button style="margin-top: 10px;" mat-mini-fab color="primary" [disabled]="custom?.value.length==1 || custom === undefined ? 'true' : 'false'" type="button" (click)="removeImageControl(i)">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <span style="width: 50px;"></span>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <button type="submit" mat-icon-button class="floating-button" style="background: #0099ff; width: 50px; height: 50px" [class.mat-elevation-z8]="true">
        <mat-icon style="color: white;">picture_as_pdf</mat-icon>
    </button>
</form>