<div fxLayoutAlign="center center" class="outer">
  <mat-card style="width: 30%; min-width: 200px">
    <div>
      <mat-form-field class="formf">
        <input matInput type="text" placeholder="{{'email' | translate}}" #email>
      </mat-form-field><br>
      <mat-form-field class="formf">
        <input matInput type="password" placeholder="{{'password' | translate}}" #password>
      </mat-form-field><br>
      <div>
        <button fxFlex mat-raised-button class="log" [routerLink]="['/register']" routerLinkActive="router-link-active" >{{"notyetregistered" | translate}}</button><br>
      </div>
      <div>
        <button fxFlex mat-raised-button class="log" style="background-color: red;" (click)="auth.SignIn(email.value, password.value)">{{"login" | translate}}</button><br>
      </div>
      <div>
        <button fxFlex mat-raised-button class="log" [routerLink]="['/recovery']" routerLinkActive="router-link-active"  >{{"forgotpassword" | translate}}</button><br>
      </div>
      <div>
        <span fxFlex></span>
          <button mat-icon-button class="btnGoogle" type="button" (click)="auth.googleSignin()"><img src="../../assets/images/768px-Google__G__Logo.svg.png" class="logo"></button>
        <span fxFlex></span>
      </div>
    </div>
  </mat-card>
  <a [routerLink]="['/privacy']" routerLinkActive="router-link-active" style="position: absolute; bottom: 0; right: 0; color: white; margin-right: 10px; margin-bottom: 10px;">Privacy</a>
</div>