<div *ngIf="auth.user$ | async as user">
    <mat-toolbar class="toolbar" [class.mat-elevation-z8]="true">
        <span style="width: 10px"></span>
        <button mat-icon-button routerLink="/app" routerLinkActive="active">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <span fxFlex></span>
        <h1>{{user.displayName}}</h1>
        <span fxFlex></span>
        <span style="width: 50px;"></span>
    </mat-toolbar>
    <div fxLayout="row">
        <mat-card fxHide.lt-md style="height: calc(100vh - 116px);margin: 10px; width: 20%; text-align: center;" [class.mat-elevation-z8]="true">
            <mat-card-content style="text-align: center;">
                <div id="logo" *ngIf="user.photoURL !== null">
                    <img [src]="user.photoURL" class="user">
                </div>
                <div>
                    <mat-chip-list style="max-width: 100%;">
                        <ng-container *ngIf="user.displayName; then thenTemplate; else elseTemplate"></ng-container>
                        <ng-template #thenTemplate>
                            <mat-chip style="width: 100%;text-align: center;">
                                <img src="../../assets/images/user.png" class="icon">
                                {{user.displayName}}
                            </mat-chip>
                        </ng-template>
                        <ng-template #elseTemplate>
                            <mat-chip style="width: 100%;text-align: center;">
                                <img src="../../assets/images/user.png" class="icon">
                                {{user.username}}
                            </mat-chip>
                        </ng-template>
                        <mat-chip style="width: 100%;text-align: center;">
                            <img src="../../assets/images/world.png" class="icon">
                            {{user.address}}
                        </mat-chip>
                        <mat-chip style="width: 100%;text-align: center;">
                            <img src="../../assets/images/mail.png" class="icon">
                            {{user.email}}
                        </mat-chip>
                    </mat-chip-list>
                </div>            
            </mat-card-content>
        </mat-card>
        <mat-card style="height: calc(100vh - 116px);margin: auto; width: 80%;" [class.mat-elevation-z8]="true">
            <mat-card-title>{{"ChangeData" | translate}}</mat-card-title>
            <span></span>
            <mat-card-content>
                <mat-card-subtitle style="margin-bottom: 0px;">{{"Email" | translate}}</mat-card-subtitle>
                <mat-form-field class="inp">
                    <input matInput type="text" [value]="user.email" #userEmail>
                </mat-form-field><br>
                <mat-card-subtitle style="margin-bottom: 0px;">{{"Username" | translate}}</mat-card-subtitle>
                <mat-form-field class="inp">
                    <input matInput type="text" [value]="user.username" #userUsername>
                </mat-form-field><br>
                <mat-card-subtitle style="margin-bottom: 0px;">{{"Tele" | translate}}</mat-card-subtitle>
                <mat-form-field class="inp">
                    <input matInput type="text" [value]="user.telefone" #userTel>
                </mat-form-field><br>
                <mat-card-subtitle style="margin-bottom: 0px;">{{"Address" | translate}}</mat-card-subtitle>
                <mat-form-field class="inp">
                    <input matInput type="text" [value]="user.address" #userAddress>
                </mat-form-field><br>
                <mat-card-subtitle style="margin-bottom: 0px;">{{"FirstName" | translate}}</mat-card-subtitle>
                <mat-form-field class="inp">
                    <input matInput type="text" [value]="user.firstName" #userName>
                </mat-form-field><br>
                <mat-card-subtitle style="margin-bottom: 0px;">{{"SurName" | translate}}</mat-card-subtitle>
                <mat-form-field class="inp">
                    <input matInput type="text" [value]="user.surName" #userSurname>
                </mat-form-field><br>
                <button mat-raised-button color="primary" (click)="change(userUsername.value,userTel.value,userAddress.value,userName.value,userSurname.value)">{{"Save" | translate}}</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>