.user {
    display: inline-block;
    width: 60% !important;
    height: 60% !important;
    border-radius: 50%;
    margin: 20px;  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 2px solid white;
    background-color: #00bf72 !important; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1) !important;
}

#bg{
    display: inline-block;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    margin: 20px;  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 2px solid white;
    background-color: #00bf72 !important; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1) !important;
  }

.inp {
    width: 80%;
    margin-left: 20px;
    margin-top: -10px;
}

.label {
    font-family: Arial;
}

.icon{
    width: 20px; height: 20px;margin-top: 1px;margin-right: 10px;
}

.chip{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;text-align: center;
}