<div>
    <h1 style="margin: 0px; padding: 16px; color: #0099ff;">{{"privacystatement" | translate}}</h1>
    <p style="margin: 0px; padding: 16px; color: white;width: 80%;">{{"stmt" | translate}}</p>
</div>