<mat-toolbar-row class="toolbar" [class.mat-elevation-z8]="true">
    <mat-toolbar class="toolbar">
        <span style="width: 10px;"></span>
        <button mat-icon-button routerLink="/app" routerLinkActive="active">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <span fxFlex></span>
        <img src="\assets\images\logo.png" class="image">
        <span fxFlex style="width: 10px;"></span>
    </mat-toolbar>
</mat-toolbar-row>
<div *ngFor="let file of files">
    <mat-card class="det">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image" style="background-image: url('../../assets/images/pdf.png'); background-size: cover;"></div>
            <mat-card-title>{{file.path}}</mat-card-title>
            <mat-card-subtitle>{{file.user}} {{file.downloadURL}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>