<head>
    <script type="text/javascript">
        function resize_canvas(){
            canvas = document.getElementById("canvas");
                canvas.width  = window.innerWidth;
                canvas.height = window.innerHeight;
        }
    </script>
</head>
<body>
    <mat-toolbar-row class="toolbar" [class.mat-elevation-z8]="true">
        <mat-toolbar class="toolbar">
            <span style="width: 10px;"></span>
            <button mat-icon-button routerLink="/app" routerLinkActive="active">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <span fxFlex></span>
            <img src="\assets\images\logo.png" class="image">
            <span fxFlex></span>
            <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" style="display: none;">
            <button mat-icon-button class="add" (click)="csvReader.click()">
                    <label style="vertical-align: center">
                        <mat-icon class="icon" id="add">add</mat-icon>
                    </label>
            </button>
        </mat-toolbar>
    </mat-toolbar-row>
    <ng-container *ngIf="lineChartData.length == 0; else elseTemplate">
        <div fxLayoutAlign="center center" style="width: 100% !important; height: 100% !important;"><p style="line-height: 24px; color: white;">{{"adddesc" | translate}}</p>
        </div>
    </ng-container>
    <ng-template #elseTemplate style="height: calc(100% - 64px);">
        <div fxHide.lt-md style="margin-top: 20px;">
                <canvas baseChart height="120"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
            ></canvas>
        </div>
        <div fxHide.gt-sm>
            <canvas baseChart height="350"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
            ></canvas>
        </div>
        <div fxLayout.lt-sm="column" fxLayout.gt-xs="row">
            <div class="card">
                <div class="head">Speed</div>
                <div class="num">{{maxspeed}}</div>
            </div>
            <div class="card">
                <div class="head">X-Acc</div>
                <div class="num">{{maxx/10}}</div>
            </div>
            <div class="card">
                <div class="head">Y-Acc</div>
                <div class="num">{{maxy/10}}</div>
            </div>
        </div>
    </ng-template>
</body>