$bv-brand: (
    50: #ffffff,
    100: #dde6f3,
    200: #b4c9e4,
    300: #7fa3d1,
    400: #0099ff,
    500: #5282c1,
    600: #4072b4,
    700: #38649d,
    800: #305687,
    900: #284770,
    A100: #ffffff,
    A200: #dde6f3,
    A400: #6992c9,
    A700: #38649d,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$DataLoggingSolutions-primary: mat-palette($bv-brand,400);
$DataLoggingSolutions-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$DataLoggingSolutions-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$DataLoggingSolutions-theme: mat-dark-theme($DataLoggingSolutions-primary, $DataLoggingSolutions-accent, $DataLoggingSolutions-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($DataLoggingSolutions-theme);

body {
    margin: 0px;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
::-webkit-scrollbar-track {
    background-color: #333d45;
}
  
::-webkit-scrollbar-thumb {
    background: #0099ff; 
    border-radius: 10px;
}

.card {
    margin: 10px;
    width: 100%;
    height: 150px;
}
.toolbar {
    padding: 0px;
    background-color: #0099ff;
}
.title {
    font-size: 25px;
    font-family: Helvetica;
    font-weight: 600;
    margin: 10px;
}
.sub {
    margin: 10px;
}
html { height: 100vh; background-color: #212121;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #212121; height: 100%;}
:host{
    background-color: #212121;
}

