<mat-toolbar-row class="toolbar" [class.mat-elevation-z8]="true">
    <mat-toolbar class="toolbar">
        <span style="width: 10px;"></span>
        <button mat-icon-button routerLink="/app" routerLinkActive="active">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <span fxFlex></span>
        <img src="\assets\images\logo.png" style="width: 64px; height: 64px">
        <span fxFlex></span>
    </mat-toolbar>
</mat-toolbar-row>
<!-- <mat-card class="help_card">
    <mat-card-title>{{"Help" | translate}}</mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="processForm()">
            <mat-form-field style="width: 100%;">
                <input matInput type="text" name="name" class="input" placeholder="{{'subject' | translate}}" [(ngModel)]="name">
            </mat-form-field><br>
            <mat-form-field style="width: 100%; height: 100%;">
                <textarea matInput class="textarea" name="message" placeholder="{{'content' | translate}}" [(ngModel)]="message"></textarea>
            </mat-form-field><br>
            <button mat-button type="submit" class="button is-danger is-large">{{'send' | translate}}</button>
          </form>
    </mat-card-content>
</mat-card> -->
