<mat-toolbar-row class="toolbar" [class.mat-elevation-z8]="true" color="primary">
    <mat-toolbar class="toolbar" color="primary">
        <span style="width: 10px;"></span>
        <span fxFlex></span>
        <img src="\assets\images\logo.png" style="width: 64px; height: 64px">
        <span fxFlex></span>
        <button mat-icon-button [matMenuTriggerFor]="menuu">
            <div *ngIf="auth.user$ | async as user;">
                <button mat-icon-button *ngIf="user.photoURL; else def">
                    <img src="{{user.photoURL}}" class="user">
                </button>
                <ng-template #def>
                    <button mat-icon-button>
                        <div id="bg">
                            <ngx-avatar size="40" bgColor="transparent" [name]="user.email" [round]="false" cornerRadius="40"></ngx-avatar>
                        </div>
                    </button>
                </ng-template>
            </div>
        </button>
        <mat-menu #menuu="matMenu">
            <div *ngIf="auth.user$ | async as user">
                <button mat-menu-item [routerLink]="['/user']" routerLinkActive="router-link-active"><mat-icon>help_outline</mat-icon>{{"User" | translate}}</button>
            </div>
            <ng-container *ngIf="updateAvailable">
                <button mat-menu-item (click)="refresh()">
                    <mat-icon matBadge="1" matBadgeColor="warn">autorenew</mat-icon>
                    <span>{{"InstallUpdate" | translate}}</span>
                </button>
            </ng-container>
            <ng-container *ngIf="defferedPrompt">
                <button mat-menu-item (click)="defferedPrompt.prompt()">
                    <mat-icon matBadge="1" matBadgeColor="warn">arrow_circle_down</mat-icon>
                    <span>{{"Install" | translate}}</span>
                </button>
            </ng-container>
            <button mat-menu-item (click)=auth.signOut()><mat-icon>exit_to_app</mat-icon>{{"Logout" | translate}}</button>
            <button mat-menu-item routerLink="/help" routerLinkActive="active"><mat-icon>help_outline</mat-icon>{{"Help" | translate}}</button>
        </mat-menu>
        <span style="width: 10px;"></span>
    </mat-toolbar>
</mat-toolbar-row>
<img fxHide.gt-md src="../../assets/images/data_mobil.png" class="test">
<img fxHide.lt-lg src="../../assets/images/map_pc.png" class="test">
<div fxLayout.lt-sm="column" fxLayout.gt-xs="row">
    <mat-card class="example-card" fxFlex [class.mat-elevation-z8]="true" [routerLink]="['/form']" routerLinkActive="router-link-active" >
        <div>
            <span fxFlex></span>
            <img class="descimg" src="../../assets/images/gear.png">
            <span fxFlex></span>
        </div>
        <mat-card-content>
           <span fxFlex></span>
              <p style="width: 60%; text-align: center;">
                {{"SetupDesc" | translate}}
              </p>
              <span fxFlex></span>
            </mat-card-content>
        </mat-card>
        <mat-card class="example-card" fxFlex [class.mat-elevation-z8]="true" [routerLink]="['/data']" routerLinkActive="router-link-active" >
            <div>
                <span fxFlex></span>
                <img class="descimg" src="../../assets/images/statistics.png">
                <span fxFlex></span>
            </div>
            <mat-card-content>
              <span fxFlex></span>
              <p style="width: 60%; text-align: center;">
                {{"DataDesc" | translate}}
              </p>
              <span fxFlex></span>
            </mat-card-content>
        </mat-card>   
        <mat-card class="example-card" fxFlex [class.mat-elevation-z8]="true" [routerLink]="['/map']" routerLinkActive="router-link-active" >
            <div>
                <span fxFlex></span>
                <img class="descimg" src="../../assets/images/map.png">
                <span fxFlex></span>
            </div>
            <mat-card-content>
              <span fxFlex></span>
              <p style="width: 60%; text-align: center;">
                {{"MapDesc" | translate}}
              </p>
              <span fxFlex></span>
            </mat-card-content>
        </mat-card>
    </div>