.toolbar {
    padding: 0px;
    background-color: #0099ff;
}
.title {
    font-size: 25px;
    font-family: Helvetica;
    font-weight: 600;
    margin: 10px;
}
.sub {
    margin: 10px;
}
a{
    position: relative;
    text-decoration: none;
    border-radius: 5px;
    padding:10px;
    width: 90%;
    height: 80%;
    color: #fff;
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
}

img {
    width: 100%;
    max-width:300%;
    height:auto;
}

.user {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

.card {
    width: calc(100% - 40px);
    padding: 10px;
    height: 200px !important;
    border-radius: 10px;
    color: white;
}

.card:hover{
  box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
    background-color: #0099ff;
}

.example-container {
    width: 100%;
    background-color: #212121;
    height: 100%;
 }
  
  .example-sidenav-content {
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
      padding: 5px;
  }

  .test{
    width: 100%;
    height: auto;
    background-size: cover;
  }

  .descimg {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      margin: 20px;
  }

  .example-card {
    margin: 10px;
    background-color: #333333;
    color: white;
    text-align: center;
  }
  .example-card:hover {
    background-color: #333333;
    box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
  }
  #bg{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: #00bf72 !important; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1) !important;
  }